*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    --white: #ffffff;
    --orange: #ff9a6c;
    --text: #263138;
    --red: #ff725e;

}

.center{
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}

.absolute{position: absolute; bottom: 0px; left: 0; width: 100%; z-index: -10;}

h1,h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
    line-height: 40px;
}

.paragrafo{
    line-height: 24px;
    margin-bottom: 32px;
}

.botao{
    background-color: var(--red); 
    border-radius: 8px; 
    padding: 16px 32px; 
    color: var(--white);
    text-decoration: none;
    transition: .4s;
    display: inline-block;
}

.botao-transparente{
    background-color: transparent;
    color: var(--red);
    padding: 16px 32px;
    text-underline-offset: 4px;
    transition: .4s;
    display: inline-block;
}

.botao:hover,
.botao-transparente:hover{
    opacity: .8;
    transform: scale(1.2);
}

body{
    color: var(--text)
}

header{
    background-color: var(--orange);
    padding: 24px 0;
    position: relative;
}

header .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    gap: 64px
}

header nav a{
    text-decoration: none;
    color: var(--white);
    transition: .4s;
    font-weight: 600;
}

header nav a:hover{
    transform: scale(1.2);
    font-weight: bold;
}

#inicio{
    position: relative;
    padding: 40px 0 200px;
}

#inicio .center{
    display: flex;
    align-items: center;
    gap: 32px;
}

#clinica .center{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 0;
}

#clinica li{
    margin-bottom: 16px;
    margin-left: 32px;
}

#farmacia{
    padding: 64px 0;
    text-align: center;
}

#farmacia img{
    margin: 32px auto;
}

#farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;
}

#duvidas .center{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 0;
}

.item__faq{
    position: relative;
}

.item__faq h3{
    border: 2px solid var(--red);
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.item__faq img{
    position: absolute;
    top: 32px;
    right: 24px;
    transition: .2s;
}

.item__faq .paragrafo{
    border-right: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
    border-left: 1px solid var(--red);
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0px 24px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.item__faq.active .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

.item__faq.active img{
    transform: rotate(180deg);
}

.sitemap{
    background-color: rgba(255,152,108,0.25);
    padding: 64px 0;
}

.sitemap .center{
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.sitemap img,
.sitemap .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

.sitemap nav a{
    color: var(--text);
    display: block;    
    text-decoration: none;
    max-width: 350px;
    transition: .4s;
}

.sitemap nav a:hover{
    color: var(--red);
    font-weight: 500;
}

.sitemap nav a:not(:last-child),
.sitemap p:not(:last-child){
    margin-bottom: 16px;
}

.sitemap p{
    max-width: 350px;
    line-height: 24px;
}

.sitemap p a{
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

.copyright{
    background: var(--text);
    color: var(--white);
    padding: 24px 0;
    text-align: center;
}

.copyright a{
    color: var(--orange)
}

.btn__mobile{
    display: none;
    position: absolute;
    top: 18px;
    right: 24px;
}

.menu.active{
    opacity: 1;
    pointer-events: auto; 
    right: 0;
}

.btnFecharMenu{
    background: transparent;
    border: none;
}

.btnFecharMenu svg{
    width: 36px;
    height: 36px;
    fill: var(--white);
}

.btnFecharMenu{
    display: none;
}



@media only screen and (max-width: 940px){
    #inicio .center,
    #clinica .center,
    #duvidas .center,
    .sitemap .center{
        flex-wrap: wrap;
    }
    img{
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    header .menu{
        opacity: 0;
        pointer-events: none;
        width: 0;
        gap: 32px;
        text-align: center;        
        transition: all 0.5s ease-out;
        position: absolute;
        flex-direction: column;
        width: 100%;
        background-color: var(--red);
        top: 0;
        right: -100%;
        height: 100vh;
        z-index: 10;
        padding: 60px;
    }
    .container__btns{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h1, h2,.paragrafo, footer .col p, .titulo, .sitemap nav a{
        text-align: center;
    }
    footer .col{
        width: 100%;
    }
    .sitemap p, .sitemap nav a{
        max-width: initial;
    }
    .sitemap .center{
        gap: 40px
    }
    .btn__mobile{
        display: block;
        border: none; 
        background-color: transparent;       
    }
    .btn__mobile svg{
        width: 36px;
        height: 36px;
        fill: var(--white);
    }
    .btnFecharMenu{
        display: block;
    }
}
@media only screen and (max-width: 640px){
    .item__faq h3 {
        padding: 24px 45px 24px 24px;
        font-size: 16px;
    }
}
